#myApp {
    min-height: 100vh;

    #sidebar {
        background-color: #F8C471;

        .img-brand {
            margin: 0 auto;
        }
    }

    .sidebar-open {
        width: 15%;

        .img-brand {

        }
    }
}